<!DOCTYPE html>

<html data-ng-app="myApp" class="ng-scope">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - New Contoso University</title>

   
    <environment names="Development,Staging,Production">
        <!--Boot strap 3 Datetime picker-->
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="~/lib/moment/min/moment.min.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
        <link rel="stylesheet" href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" />
        <script type="text/javascript" src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

    </environment>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

       <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">-->
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <style type="text/css">
            .checkbox label:after,
            .radio label:after {
                content: '';
                display: table;
                clear: both;
            }

            .checkbox .cr,
            .radio .cr {
                position: relative;
                display: inline-block;
                border: 1px solid #a9a9a9;
                border-radius: .25em;
                width: 1.3em;
                height: 1.3em;
                float: left;
                margin-right: .5em;
            }

            .radio .cr {
                border-radius: 50%;
            }

                .checkbox .cr .cr-icon,
                .radio .cr .cr-icon {
                    position: absolute;
                    font-size: .8em;
                    line-height: 0;
                    top: 50%;
                    left: 20%;
                }

                .radio .cr .cr-icon {
                    margin-left: 0.04em;
                }

            .checkbox label input[type="checkbox"],
            .radio label input[type="radio"] {
                display: none;
            }

                .checkbox label input[type="checkbox"] + .cr > .cr-icon,
                .radio label input[type="radio"] + .cr > .cr-icon {
                    transform: scale(3) rotateZ(-20deg);
                    opacity: 0;
                    transition: all .3s ease-in;
                }

                .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
                .radio label input[type="radio"]:checked + .cr > .cr-icon {
                    transform: scale(1) rotateZ(0deg);
                    opacity: 1;
                }

                .checkbox label input[type="checkbox"]:disabled + .cr,
                .radio label input[type="radio"]:disabled + .cr {
                    opacity: .5;
                }
        </style>
        <link rel="stylesheet" href="~/css/site.css" />

    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        
    </environment>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">New Contoso University</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="CustomerSupport" asp-action="NewCustomer">New Customer</a></li>
                    <li><a asp-area="" asp-controller="CustomerSupport" asp-action="NewCustomerContact">New Customer Contact</a></li>
                    <li><a asp-area="" asp-controller="CustomerSupport" asp-action="NewCustomerInteraction">New Customer Interaction</a></li>

                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - New Contoso University</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
